# macOS
.DS_Store

# jetBrains
.idea/

# vs code
.vscode/

# *.log
*.pyc
/data_source/*.json
/checkpoints/*.json
/checkpoints/*.pt
/inference_results/*.npz

# venv
venv/

.env



# training artifacts
logs/
!logs/.gitkeep
checkpoints/
